.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar navbar"
    "heading heading heading"
    "image_1 image_1 image_1"
    "text_1 text_2 text_3"
    "footer footer footer";
    background-color: beige;
    }

.navbar{
        grid-area: navbar;
        text-align: center;
        font-size: large;
        padding: 5px;
}

.navbar ul {
        list-style-type: none;
}

.navbar li{
        display: inline;
        padding: 120px;
}




.heading{
        grid-area: heading;
        text-align: center;
        font-size: xx-large;
        color: rgb(134, 134, 100);
}

    
.image_1{
        grid-area: image_1;
        text-align: center;
}

img{
        width:50%;
        height: auto;
        border-radius: 15px;
}


.text_1{grid-area: text_1;}

.text_2{grid-area: text_2;}

.text_3{grid-area: text_3;}

.text_1, .text_2, .text_3 {
    margin: 5%;
    border-style: solid;
    border-radius: 5%;
    border-color: rgb(235, 235, 197);

}

.footer{
    grid-area: footer;
    text-align: center;
}