.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "heading heading heading heading"
    "image_1 image_2 image_3 image_4"
    "definition causes effects help"
    "footer footer footer footer";
    }

    .navbar{
        grid-area: navbar;
        background-color: rgb(7, 97, 41);
        text-align: center;
        font-size: smaller;
        padding: 20px;
    }

    .navbar ul {
        list-style-type: none;
    }

    .navbar li{
        display: inline;
        padding: 20px;
        background-color: goldenrod;
    }

    /*.navbar a {


    }*/

    .heading{
        grid-area: heading;
        text-align: center;
        font-size: xx-large;
        background-color: darkseagreen;
    }


    .image_1{
        grid-area: image_1;
        background-color: darkseagreen;
       }



    .definition{
        grid-area: definition;
         text-align: left;
         background-color: darkseagreen;
    }






    .image_2{
        grid-area: image_2;
        background-color: darkseagreen;
    }



    .causes{
        grid-area: causes;
        text-align: left;
        background-color: darkseagreen;
    }

    .image_3{
        grid-area: image_3;
        background-color: darkseagreen;
    }



    .effects{
        grid-area: effects;
        text-align: left;
        background-color: darkseagreen;
    }




    .image_4{
        grid-area: image_4;
        background-color: darkseagreen;
    }





    .help{
        grid-area: help;
        text-align: left;
        background-color: darkseagreen;
    }


    .footer{
        grid-area: footer;
        background-color: rgb(7, 97, 41);
        text-align: center;
        font-size: smaller;
    }

    img{
        width: 95%;
        height: auto;
    }
    
    

