.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar navbar navbar";
    gap: 25px;
    max-width: 1200px;
    margin: 50px;
    padding-left: 15px;
    position:relative;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    }
.box_1 img {
    width: 90%;
    height: 100%;
}
.box_1:hover img {
    transform: scale(1.08);
}
.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

    

