.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "heading heading heading heading"
    "definition causes effects help"
    "footer footer footer footer";
    }

    .navbar{
        grid-area: navbar;
        background-color: rgb(7, 97, 41);
        text-align: center;
        font-size: smaller;
    }

    .navbar ul {
        list-style-type: none;
    }

    .navbar li{
        display: inline;
        padding: 20px;
        background-color: goldenrod;
    }

    /* .navbar a{ */

    /* } */


    .heading{
        grid-area: heading;
        background-color: darkseagreen;
        text-align: center;
        font-size: xx-large;
    }




    .definition{
        grid-area: definition;
        background-color: antiquewhite;
        text-align: center;
    }



    .causes{
        grid-area: causes;
        background-color: azure;
        text-align: center;
    }


    .effects{
        grid-area: effects;
        background-color: beige;
        text-align: center;
    }


    .help{
        grid-area: help;
        background-color: bisque;
        text-align: center;
    }


    .footer{
        grid-area: footer;
        background-color: ;
        text-align: center;
        font-size: smaller;
    }



    

